<div class="splash-major" *ngIf="showSplash">
    <div class="splash-minor">
        <img id="splash-pc" src="assets/c-splash-2.gif" alt="C.R.U.D Splash">
        <img id="splash-mob" src="assets/c-splashmob.gif" alt="C.R.U.D Splash">
    </div>
</div>

<app-header></app-header>
<div  >
    <div class="user" >

        <!-- <app-userpane-ws></app-userpane-ws> -->
        <!-- seperate outlet in widescreen -->
        <router-outlet name="cyna"></router-outlet>
    </div>
    <app-all-contacts></app-all-contacts>
    <div class="dynamic">
        <router-outlet name="dyna"></router-outlet>
    </div>

</div>